@import url("https://fonts.googleapis.com/css2?family=Bitter:wght@900&family=Open+Sans&display=swap");

/* COLORS */
:root {
  --sy_dark_purple: #333142;
  --sy_dark_1: #1e1e1e;
  --sy_dark_2: #252526;
  --sy_dark_3: #2d2d30;
  --sy_dark_4: #3e3e42;
  --sy_light: #dee2e6;
  --sy_aipa_blue: #19add8;
  --sy_aipa_purple: #9b7aba;
  --sy_aipa_green: #8dc63f;
<<<<<<< HEAD
  --sy_aipa_yellow: #dfd400;
=======
>>>>>>> f19a019c7ee5fec0fc14066abc812c0394e72479
  --sy_shadow_1: rgba(0, 0, 0, 0.2);
  --sy_shadow_2: rgba(0, 0, 0, 0.19);
}

/* PAGE */

body {
  margin-left: 0px;
  color: var(--sy_light);
<<<<<<< HEAD
}

p,
a {
  color: var(--sy_light);
  font-family: "Open Sans", sans-serif;
}

a {
  transition: 0.3s;
}

a:hover {
  color: var(--sy_aipa_yellow);
}

a:active {
  text-decoration: none;
  color: var(--sy_dark_purple);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr {
  background-color: var(--sy_light);
}

.nav-link:focus {
  box-shadow: none;
=======
>>>>>>> f19a019c7ee5fec0fc14066abc812c0394e72479
}

.navbar {
  background-color: var(--sy_dark_1);
  box-shadow: 0 4px 8px 0 var(--sy_shadow_1), 0 6px 20px 0 var(--sy_shadow_2);
<<<<<<< HEAD
  padding: 2.5rem 1rem;
  max-height: 80;
}

#page-navbar {
  display: none;
}

#page-header .card {
  background-color: transparent;
  border: 0px solid transparent;
}

#page-header .card .flex-wrap {
  display: none !important;
}

.pagelayout-course #page-header h1 {
  padding: 1rem 1.5rem;
=======
>>>>>>> f19a019c7ee5fec0fc14066abc812c0394e72479
}

.navbar .site-logo {
  content: url("https://raw.githubusercontent.com/syvkst/eOppiva/main/brand_logo.png");
  transition: 0.3s;
}

.navbar .site-logo:hover {
  opacity: 0.5;
}

.navbar .navbar-nav .nav-link {
  color: var(--sy_light) !important;
<<<<<<< HEAD
  text-transform: uppercase;
  transition: 0.3s;
  font-family: "Open Sans", sans-serif;
  padding: 0.5rem;
=======
>>>>>>> f19a019c7ee5fec0fc14066abc812c0394e72479
}

.navbar .navbar-nav .nav-link:hover {
  color: var(--sy_aipa_blue) !important;
}

.navbar .navbar-settings-icon .dropdown-toggle > .icon {
  color: var(--sy_light);
}

.course-banner-image {
<<<<<<< HEAD
  position: relative;
  width: 100%;
  height: 20vw;
  min-height: 350px;
  margin-bottom: -120px;
  margin-top: 80px;
  background-color: transparent;
  background-position: top;
  flex: 1 0 auto;
  display: flex;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
=======
  height: auto;
>>>>>>> f19a019c7ee5fec0fc14066abc812c0394e72479
}

.pagelayout-course #page-header h1,
.pagelayout-incourse #page-header h1 {
  background-color: var(--sy_dark_3);
  color: var(--sy_light);
}

/* Left-hand menu */
#nav-drawer {
  display: none;
}

#page {
  background-color: var(--sy_dark_1);
}

#region-main,
.card {
  background-color: var(--sy_dark_2);
}

.pagelayout-course .mb-3 {
  border-radius: 10px;
  margin-bottom: 0px;
}

.mb-3,
.my-3 {
  margin-bottom: 0.6rem !important;
}

.dropdown-menu {
  background-color: var(--sy_dark_4);
  color: var(--sy_light);
}

.dropdown-item {
  color: var(--sy_light);
}

.dropdown-item:hover,
.dropdown-item:active {
  background-color: var(--sy_dark_purple);
}

.dropdown-item:focus,
.dropdown-item:focus-within {
  background-color: transparent;
}

.h5p-placeholder {
  padding: 10px;
  background-color: var(--sy_dark_3);
  box-shadow: 0 4px 8px 0 var(--sy_shadow_1), 0 6px 20px 0 var(--sy_shadow_2);
<<<<<<< HEAD
=======
}

p,
a {
  color: var(--sy_light);
  font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bitter", serif;
  font-weight: 900;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

hr {
  background-color: var(--sy_light);
>>>>>>> f19a019c7ee5fec0fc14066abc812c0394e72479
}

.toc1,
.toc2 {
  color: var(--sy_light);
<<<<<<< HEAD
  color: var(--sy_light);
=======
>>>>>>> f19a019c7ee5fec0fc14066abc812c0394e72479
  transition: 0.3s;
}

.toc1:hover {
  text-decoration: none;
  color: var(--sy_aipa_blue);
}

.toc2:hover {
  text-decoration: none;
  color: var(--sy_aipa_purple);
}

.toc1:active,
.toc2:active {
  text-decoration: none;
}

.block .block-controls .dropdown-toggle {
  color: var(--sy_light);
}

/* MAIN CONTENT */

/* Breadcrumbs */
.p-b-2 {
  display: none;
}

.nav-tabs {
  border-bottom: 0px solid var(--sy_light);
  border-top: 0px solid var(--sy_light);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 3px;
  border-radius: 10px;
  margin-bottom: 0px;
}

.nav-tabs .nav-link {
  border: 0px solid transparent;
  transition: 0.3s;
}

.tab_level_0,
.tab_level_1 {
  background-color: transparent;
  color: var(--sy_light);
  transition: 0.3s;
}

.nav-link:not(.active):hover .tab_level_0 {
  color: var(--sy_aipa_blue);
}

.nav-link:not(.active):hover .tab_level_1 {
  color: var(--sy_aipa_green);
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-link.active .tab_level_0,
.nav-tabs .nav-link.active .tab_level_1,
.nav-tabs .nav-item.show .nav-link .tab_level_0,
.nav-tabs .nav-item.show .nav-link .tab_level_1 {
  color: var(--sy_aipa_purple);
  background-color: transparent;
}

.onetopic .nav,
.onetopic-subtabs_body .nav {
  background-color: transparent;
}

.format-onetopic a.nav-link .tab_content {
  border-top: 0px solid transparent;
}
