.accordion {
  background-color: var(--sy_level_4);
  color: var(--sy_font_color);
  cursor: pointer;
  padding: 1rem;
  text-align: left;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  border: none;
  outline: none;
  transition: 0.3s;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.accordion::before {
  content: "";
  display: inline-block;
  width: 0.5em;
  height: 0.5em;
  border: 2px solid var(--sy_font_color);
  border-left: 0;
  border-top: 0;
  margin-bottom: 0.1em;
  margin-right: 1em;
  transform: rotate(-45deg);
  transition: all 0.3s ease-out;
}

.accordion:active,
.accordion-active,
.accordion:hover {
  border: none;
  outline: none;
  background-color: var(--sy_element_hover);
}

.accordion:active::before,
.accordion-active::before {
  transform-origin: 80%;
  transform: rotate(45deg);
}

.accordion:focus {
  border: none;
  outline: none;
}

.accordion-panel {
  display: block;
  padding: 0 1.5rem;
  background-color: var(--sy_level_4);
  max-height: 0;
  overflow: hidden;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  opacity: 0;
  transition: all 0.3s ease-out;
}

.accordion-panel-open {
  padding: 1rem 1.5rem;
  opacity: 1;
  max-height: fit-content;
}
