.course-banner-image-container {
  position: relative;
  width: 100%;
  height: 20vw;
  border-radius: 0;
  margin-bottom: -120px;
  margin-top: 80px;
  background-color: transparent;
  background-position: top;
  flex: 1 1 auto;
  display: flex;
  box-shadow: 0 4px 8px 0 var(--sy_shadow_1), 0 6px 20px 0 var(--sy_shadow_2);
}

.course-banner-image {
  width: 100%;
  border-radius: 0;
}
