.navbar .site-logo {
  content: url("https://raw.githubusercontent.com/syvkst/eOppiva/main/brand_logo.png");
  transition: 0.3s;
}

.navbar .site-logo:hover {
  opacity: 0.5;
}

.navbar-brand {
  transition: 0.3s;
  display: inline !important;
}

.navbar-brand:hover {
  opacity: 0.6;
}

.navbar-brand:focus {
  outline: none;
  background-color: transparent;
  box-shadow: none;
  -webkit-box-shadow: none;
}
