[data-sytheme="dark"] {
  --sy_quiz_next_bg: var(--sy_level_2);
  --sy_quiz_next_fg: var(--sy_font_color);
  --sy_quiz_next_hover_bg: var(--sy_level_3);
  --sy_quiz_next_hover_fg: var(--sy_blue_regular);

  --sy_quiz_option_bg: var(--sy_level_2);
  --sy_quiz_option_fg: var(--sy_font_color);
  --sy_quiz_option_hover_bg: var(--sy_level_3);
  --sy_quiz_option_hover_fg: var(--sy_blue_regular);

  --sy_quiz_correct_bg: var(--sy_aipa_green);
  --sy_quiz_correct_fg: var(--sy_level_0);
  --sy_quiz_false_bg: var(--sy_level_2);
  --sy_quiz_false_fg: var(--sy_font_color);

  --sy_quiz_results_title_fg: var(--sy_blue_regular);
  --sy_quiz_results_bg: var(--sy_level_2);
  --sy_quiz_results_fg: var(--sy_font_color);
}

[data-sytheme="light"] {
  --sy_quiz_next_bg: var(--sy_light);
  --sy_quiz_next_fg: var(--sy_font_color);
  --sy_quiz_next_hover_bg: var(--sy_grey_A_regular);
  --sy_quiz_next_hover_fg: var(--sy_light);

  --sy_quiz_option_bg: var(--sy_light);
  --sy_quiz_option_fg: var(--sy_font_color);
  --sy_quiz_option_hover_bg: var(--sy_grey_A_regular);
  --sy_quiz_option_hover_fg: var(--sy_light);

  --sy_quiz_correct_bg: var(--sy_aipa_green);
  --sy_quiz_correct_fg: var(--sy_grey_A_regular);
  --sy_quiz_false_bg: var(--sy_light);
  --sy_quiz_false_fg: var(--sy_font_color);

  --sy_quiz_results_title_fg: var(--sy_purple_regular);
  --sy_quiz_results_bg: var(--sy_light);
  --sy_quiz_results_fg: var(--sy_font_color);
}

.quiz {
  display: flex;
  flex-wrap: wrap;
  width: 98%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
  align-items: center;
  justify-items: left;
  opacity: 1;
  transition: background-color 0.5s, opacity 0.5s;
}

@media (min-width: 767.98px) {
  .quiz {
    width: 90%;
    margin: 0 5% 1rem 5%;
  }
}

.end-message {
  display: none;
}

.quiz-change {
  opacity: 0;
  left: -100%;
}

.question {
  display: none;
}

.question-title {
  flex: 0 0 80%;
  font-size: 1.2rem;
  font-family: var(--sy_heading_font);
  font-weight: var(--sy_heading_weight);
  color: var(--sy_font_color);
  margin-bottom: 1rem;
  padding-top: 0.6rem;
  padding-bottom: 0.6rem;
}

@media (min-width: 767.98px) {
  .question-title {
    flex: 1 0 50%;
  }
}

.next-question {
  flex-basis: auto;
  height: fit-content;
  background-color: var(--sy_quiz_next_bg);
  color: var(--sy_quiz_next_fg);
  box-shadow: var(--sy_shadow_1_x) var(--sy_shadow_1_y) var(--sy_shadow_1_blur)
      var(--sy_shadow_1_spread) var(--sy_shadow_1_color),
    var(--sy_shadow_2_x) var(--sy_shadow_2_y) var(--sy_shadow_2_blur)
      var(--sy_shadow_2_spread) var(--sy_shadow_2_color);
  display: none;
  cursor: pointer;
  padding: 0.5rem;
  text-align: left;
  outline: none;
  width: fit-content;
  border-radius: 0.25rem;
  transition: all 0.2s;
  margin-bottom: 1rem;
  border: none;
}

.next-question.active,
.next-question:hover,
.next-question:focus {
  background-color: var(--sy_quiz_next_hover_bg);
  color: var(--sy_quiz_next_hover_fg);
  outline: none;
}

.next-question-show {
  display: block;
}

.answers {
  flex-basis: 100%;
}

.option-display {
  background-color: var(--sy_quiz_option_bg);
  color: var(--sy_quiz_option_fg);
  cursor: pointer;
  padding: 1rem;
  text-align: left;
  margin: 0.2rem 0;
  border: none;
  outline: none;
  border-radius: 0.25rem;
  width: 100%;
  transition: all 0.3s;
  box-shadow: var(--sy_shadow_1_x) var(--sy_shadow_1_y) var(--sy_shadow_1_blur)
      var(--sy_shadow_1_spread) var(--sy_shadow_1_color),
    var(--sy_shadow_2_x) var(--sy_shadow_2_y) var(--sy_shadow_2_blur)
      var(--sy_shadow_2_spread) var(--sy_shadow_2_color);
}

.option-display.active,
.option-display:not(.option-correct, .option-false):hover {
  border: none;
  outline: none;
  background-color: var(--sy_quiz_option_hover_bg);
  color: var(--sy_quiz_option_hover_fg);
}

.option-display:focus {
  border: none;
  outline: none;
}

.option-correct {
  background-color: var(--sy_quiz_correct_bg);
  color: var(--sy_quiz_correct_fg);
}

@media (min-width: 767.98px) {
  .option-correct {
    transform: scale(1.02);
  }
}

.option-false {
  opacity: 0.5;
  background-color: var(--sy_quiz_false_bg);
  color: var(--sy_quiz_false_fg);
}

@media (min-width: 767.98px) {
  .option-false {
    transform: scale(0.98);
  }
}

.title-results {
  color: var(--sy_quiz_results_title_fg);
  font-size: 1.4rem;
  margin-bottom: 0.5rem;
  padding: 0;
}

.answers-results {
  font-size: 1.2rem;
  font-family: var(--sy_heading_font);
  font-weight: var(--sy_heading_weight);
  color: var(--sy_quiz_results_fg);
}

.quiz-results {
  background-color: var(--sy_quiz_results_bg);
  padding: 2rem;
  border-radius: 0.25rem;
  box-shadow: var(--sy_shadow_1_x) var(--sy_shadow_1_y) var(--sy_shadow_1_blur)
      var(--sy_shadow_1_spread) var(--sy_shadow_1_color),
    var(--sy_shadow_2_x) var(--sy_shadow_2_y) var(--sy_shadow_2_blur)
      var(--sy_shadow_2_spread) var(--sy_shadow_2_color);
}
